.sidebar{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 5px;
    border-radius: 50%;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 0;
    transition: 300ms ease-in;
}

.sidebar-list-active{
    height: 300px;
}

.sidebar-items{
    border-radius: 50%;
    list-style: none;
    height: 26px;
    width: 26px;
    cursor: pointer;
}